*{
  padding: 0;
  margin: 0;
  background-color: rgb(78, 78, 129);
}

.contenedor-principal{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}


